*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #E3E3E3;
}
header nav{
    background-color: white;
    border: 1px solid rgb(170, 168, 168);
}

header nav ul{
    display: flex;
    padding: 16px;
}


header nav ul li{
    list-style: none;
    margin: 10px;
    text-transform: uppercase;
}

.info-tape{
    /* background-color: #1B285F; */
    background-color: white;
    color: black;
    /* text-align: center; */
    
    display: flex;
}

.info-tape div{
    display: flex;

    padding: 24px;
    border-right: 1px solid rgb(170, 168, 168);
}

.info-tape div lord-icon{
    margin-left: 80px;
    float:right;
}





main section{
    text-align: center;
    padding-top: 5%;
}

.cap{
    font-size: 85px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.cap::first-letter{
    font-size: 95px;
}


.desc-text{
    font-size: 20px;
    margin: 8px;
}